.form__description {
  color: black;
  font-weight: 900;
  font-size: 24px;
}

.form__mc {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.form__input {
  border-style: none;
  height: 27.26px;
  border-bottom: 2px solid rgba(196, 196, 196, 0.5);
}

.form__input::placeholder {
  color: rgba(196, 196, 196, 0.7);
}

.form__save-button {
  height: 50px;
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
}

.form__save-button:hover {
  cursor: pointer;
  background-color: #313131;
  border: none;
}
