.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 21px;
}

.gallery__card {
  max-width: 282px;
  height: 361px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .gallery__card {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
